      <li class="epb">
        <%= link_to(entry['enclosure_url']) do %>
          <p class="datetime">
            <span class="date"><%= entry.published.strftime("%b %e, %Y") %></span>
            <span class="time"><%= entry.published.strftime("%l:%M %p") %></span>
          </p> <!-- end: .datetime -->
          <h3><%= entry.title %></h3>
          <p class="play"><span></span></p>
        <% end %>
        <% unless entry['itunes_subtitle'].blank? %><p class="desc"><%= entry.itunes_subtitle %></p><% end %>
        <ul class="sub">
          <% unless entry['itunes_duration'].blank? %>
            <li class="l"><%= entry.itunes_duration %></li>
          <% end %>
          <% unless entry['url'].blank? %>
            <li class="r"><a href="<%= entry.url %>">View on Web</a></li>
          <% end %>
        </ul>
      </li>