<div class="back-to">
  <p><a href="#">&larr; back to search results</a></p>
</div>

<div class="pod-wrap">

  <% unless @podcast.blank? %>

  <div class="pod-title">
    <p class="thumb">
      <img src="<%= @podcast.itunes_image %>" />
    </p>
    <h1><%= @podcast.title %></h1>
  </div> <!-- end: .pod-title -->

  <div class="pod-info">
    <h4>Podcast Info</h4>
    <p class="desc"><%= @podcast.description %></p>
    <ul class="actions">
      <li><a href="<%= @url_itunes %>">iTunes</a></li>
      <li><a href="<%= @feedUrl %>">RSS</a></li>
      <li><a href="<%= @podcast.url %>">Podcast Website</a></li>
    </ul>
  </div> <!-- end: .pod-info -->

  <div class="ep-box">
    <ul class="eps">
      <% @podcast.entries.each do |entry| %>
      <li class="ep">
        <div class="datetime">
          <span class="date"><%= entry.published.strftime("%b %e, %Y") %></span>
          <span class="time"><%= entry.published.strftime("%l:%M %p") %></span>
        </div> <!-- end: .date -->
        <div class="desc">
          <h3><%= entry.title %></h3>
          <% unless entry['itunes_subtitle'].blank? %><p><%= entry.itunes_subtitle %></p><% end %>
          <ul class="actions">
            <% unless entry['enclosure_url'].blank? %>
              <li><a href="<%= entry['enclosure_url'] %>">Listen</a></li>
            <% end %>
            <% unless entry['url'].blank? %>
              <li><a href="<%= entry.url %>">Episode Webpage</a></li>
            <% end %>
          </ul>
        </div> <!-- end: .desc -->
        <div class="player">
          
        </div> <!-- end: .player -->
      </li> <!-- end: .ep -->
      <% end %>
    </ul> <!-- end: .eps -->
  </div> <!-- end: .ep-box -->
  
  <% end # unless @podcast.blank? %>

</div> <!-- end: .pod-wrap -->