<div class="back-to">
  <p><a href="#">&larr; back to search results</a></p>
</div>

<div class="pod-wrap">

  <% unless @podcast.blank? %>

  <div class="pod-title">
    <p class="thumb">
      <img src="<%= @podcast.itunes_image %>" />
    </p>
    <h1><%= @podcast.title %></h1>
  </div> <!-- end: .pod-title -->

  <div class="pod-info">
    <h4>Podcast Info</h4>
    <p class="desc"><%= @podcast.description %></p>
    <ul class="actions">
      <li><a href="<%= @url_itunes %>">iTunes</a></li>
      <li><a href="<%= @feedUrl %>">RSS</a></li>
      <li><a href="<%= @podcast.url %>">Podcast Website</a></li>
    </ul>
  </div> <!-- end: .pod-info -->

  <div class="ep-box">
    <h4>Latest Episode</h4>
    <ul class="eps">
      <% @podcast.entries[0..0].each_with_index do |entry,i| %>
        <%= render :partial => 'pages/episode', :locals => { :entry => entry } %>
      <% end %>
    </ul> <!-- end: .eps -->

    <h4>Past Episodes</h4>
    <ul class="eps">
      <% @podcast.entries[1..-1].each_with_index do |entry,i| %>
        <%= render :partial => 'pages/episode', :locals => { :entry => entry } %>
      <% end %>
    </ul> <!-- end: .eps -->
  </div> <!-- end: .ep-box -->
  
  <% end # unless @podcast.blank? %>

</div> <!-- end: .pod-wrap -->