    
    <% unless @podcast.blank? %>

      <div class="podcast_info">
        <img width="200" src="<%= @podcast.itunes_image %>" />
        <h2><%= @podcast.title %></h2>
        <p><%= @podcast.description %></p>
        <p>
          <% unless @podcast.url.blank? %><a href="<%= @podcast.url %>">Website</a> | <% end %>
          <a href="<%= @feedUrl %>">RSS</a> | <a href="<%= @url_itunes %>">iTunes</a>
        </p>
      </div> <!-- end: .podcast_info -->

    <% end %>

      <div class="podcast_episodes">

        <% @podcast.entries.each do |entry| %>
          <p>
            <span style="color: #aaa; font-size: 12px;"><%= entry.published.strftime("%b %e %y, %l:%M %p") %></span><br />
            <strong><%= entry.title %></strong><br />
            <% unless entry['itunes_duration'].blank? %><%= entry.itunes_duration %><br /><% end %>
            <% unless entry['itunes_subtitle'].blank? %><%= entry.itunes_subtitle %><br /><% end %>
            <% unless entry['enclosure_url'].blank? %><a href="<%= entry['enclosure_url'] %>">Listen</a><% end %> | <% unless entry['url'].blank? %><a href="<%= entry.url %>">Webpage</a><% end %>
          </p>
        <% end %>

      </div> <!-- end: .podcast_episodes -->