<div class="side feeds">

  <div class="title-box">
    <h1>PodCrawler</h1>
    <p> The easiest way to search the <br />iTunes Podcast directory.</p>
    <form method="get" action="/">
      <%= text_field_tag(:query, params[:query]) %>
      <%= submit_tag("", :id => "results-submit", :name => nil) %>
    </form>
  </div> <!-- // .title-box -->

  <div class="feeds-wrap-inner">

    <% @results.each do |result| %>
    <a class="feed" data-url-rss="<%= result['feedUrl'] %>" data-url-itunes="<%= result['trackViewUrl'] %>">
      <img class="thumbnail" src="<%= result['artworkUrl100'] %>" />
      <div class="text">
        <h3><%= result['collectionName'] %></h3>
      </div>
    </a>
    <% end %>
  </div> <!-- // .feeds-wrap-inner -->

</div> <!-- // .side.feeds -->

<%# This is the hidden form that accepts an RSS feed, and displays that feed's info + entries on the page %>
<%= form_tag('/show', method: :get, :remote => true, :id => 'feed_select', :style => 'visibility: hidden;position: fixed;') do %>  
  <%= text_field_tag :url_rss, params[:url_rss] %>
  <%= hidden_field_tag :url_itunes, params[:url_itunes] %>
  <%= submit_tag("Search", :id => "submit") %>
<% end %>

<div class="main podcast_wrap_outer">
  <div class="spinner">
    <div class="spinner_inner_wrap">
      <p>
        <img width="66" src="/assets/spinner.gif" />
        <span>loading podcast...</span>
      </p>
    </div>
  </div>
  <div id="podcast_wrap_inner"></div>
</div>