<div class="side feeds">

  <div class="title-box">
    <div class="title-inner fadein">
      <h1><a href="/">PodCrawler</a></h1>
      <p>Search iTunes Podcasts, Fast!</p>
      <form method="get" action="/">
        <%= text_field_tag(:query, params[:query]) %>
        <span class="search-clear"></span>
        <%= submit_tag("", :id => "results-submit", :name => nil) %>
      </form>
    </div> <!-- end: title-inner -->
  </div> <!-- // .title-box -->

  <div class="feeds-wrap-inner fadein">

    <% unless params[:query].present? %>

      <div class="pre-search">
        <h4>Example searches</h4>
        <ul class="pills">
          <li><a class="sample-search">NPR</a></li>
          <li><a class="sample-search">comics</a></li>
          <li><a class="sample-search">startups</a></li>
          <li><a class="sample-search">Redskins</a></li>
          <li><a class="sample-search">sports</a></li>
          <li><a class="sample-search">NFL</a></li>
          <li><a class="sample-search">Brian Brushwood</a></li>
          <li><a class="sample-search">5by5</a></li>
          <li><a class="sample-search">Walking Dead</a></li>
          <li><a class="sample-search">yoga</a></li>
          <li><a class="sample-search">culture</a></li>
          <li><a class="sample-search">movies</a></li>
          <li><a class="sample-search">Arcade Fire</a></li>
          <li><a class="sample-search">Bill Simmons</a></li>
          <li><a class="sample-search">TWiT</a></li>
          <li><a class="sample-search">Nerdist</a></li>
          <li><a class="sample-search">responsive</a></li>
          <li><a class="sample-search">design</a></li>
          <li><a class="sample-search">Carolla</a></li>
          <li><a class="sample-search">Eastbound &amp; Down</a></li>
          <li><a class="sample-search">NHL</a></li>
        </ul>
        <h4>About</h4>
        <p>PodCrawler was designed &amp; built by <a href="http://davidpots.com">@davidpots</a> to help you find podcasts faster. We all know that searching for podcasts (or anything) on iTunes is a stinky experience, riddled with too many clicks and a bloated interface. PodCrawler solves that problem by getting straight to the point.</p>
        <p>If you like this tool, <a href="http://twitter.com/davidpots">follow me on Twitter</a> and also check out my <a href="http://songnotes.cc">Songnotes</a> project -- where I share my hand-crafted library of guitar tabs &amp; musical notation for songs I love.</p>
      </div> <!-- end: pre-search -->

    <% end %>

    <% @results.each do |result| %>
    <a class="feed" data-url-rss="<%= result['feedUrl'] %>" data-url-itunes="<%= result['trackViewUrl'] %>">
      <div class="thumbnail"><img src="<%= result['artworkUrl100'] %>" /></div>
      <div class="text">
        <h3><%= result['collectionName'] %></h3>
      </div>
    </a>
    <% end %>
  </div> <!-- // .feeds-wrap-inner -->

</div> <!-- // .side.feeds -->

<%# This is the hidden form that accepts an RSS feed, and displays that feed's info + entries on the page %>
<%= form_tag('/show', method: :get, :remote => true, :id => 'feed_select', :style => 'visibility: hidden;position: fixed;') do %>  
  <%= text_field_tag :url_rss, params[:url_rss] %>
  <%= hidden_field_tag :url_itunes, params[:url_itunes] %>
  <%= submit_tag("Search", :id => "submit") %>
<% end %>

<div class="main podcast_wrap_outer">
  <div class="spinner">
    <div class="spinner_inner_wrap">
      <p>
        <img width="66" src="/assets/spinner.gif" />
        <span>loading podcast...</span>
      </p>
    </div>
  </div>
  <div id="podcast_wrap_inner"></div>
</div>