<div style="position: relative; color: #fff;">

  <div style="background: #444; padding: 12px 0; width: 290px; position: fixed; bottom: 0; top: 0;left: 0; overflow-y: auto;">

    <h1 style="font-size: 21px; margin: 4px 12px 12px; font-weight: normal;">Search iTunes Podcasts</h1>

    <%= form_tag("/", method: "get", style: "height: 24px; margin: 0 12px 15px;") do %>
      <%= text_field_tag(:r, params[:r], :style => "font-family: 'helvetica neue'; position: absolute; top: 0; left: 0; width: 200px; border: none; height: 28px; line-height: 28px; font-size: 14px; padding: 0 4px;") %>
      <%= submit_tag("search", :id => "results-submit", :style => "font-family: 'helvetica neue'; background: #ff00ff; color: #fff; cursor: pointer; position: absolute; top: 0; right: 0; right: 0px; border: none; height: 28px; font-size: 14px; line-height: 28px; width: 64px;") %>
    <% end %>

    <% @results.each do |result| %>
    <a class="feed" data-url="<%= result['feedUrl'] %>" style="display: block; overflow:hidden; width:auto; padding: 10px 12px; border-top: 1px solid #555; cursor: pointer;">
      <img style="float: left; height: 40px; width: 40px;" src="<%= result['artworkUrl100'] %>" />
      <div style="float: right; width: 215px; display: block;">
        <h3 style="margin: 0 0 5px 0; font-weight: normal; font-size: 14px;"><%= result['collectionName'] %></h3>
        <%#= result['trackViewUrl'] %><%#= result['feedUrl'] %>
      </div>
    </a>
    <% end %>

  </div>

  <div style="padding: 20px; margin-left: 290px;">

    <%#= form_tag(controller: pages, action: show, method: "get") do %>
    <%#= form_for("/", method: :get, remote: "true") do |f| %>
    <%= form_tag('/show', method: :get, :remote => true, :id => 'magic_link') do %>  
      <%= label_tag(:q, "Enter any RSS feed:") %>
      <%= text_field_tag(:q, params[:q]) %>
      <%= submit_tag("Search", :id => "submit") %>
    <% end %>

    <div id="entries">
      <%= render @entries %>
    </div>
  </div>

</div>