<div style="position: relative;">

  <div class="title-bar">
    <h1>PodGnostic</h1>
    <p>elegant podcast searching, built by <a href="http://davidpots.com">@davidpots</a></p>
  </div>

  <div class="feeds">

    <h1 style="font-size: 14px; margin: 4px 12px 5px; font-weight: 600; color: #888;">search for a topic...</h1>

    <%= form_tag("/", method: "get", style: "height: 24px; margin: 0 12px 21px;") do %>
      <%= text_field_tag(:r, params[:r], :style => "font-family: 'source sans pro','helvetica neue'; position: absolute; top: 0; left: 0; width: 200px; border: none; height: 28px; line-height: 28px; font-size: 14px; padding: 0 4px;") %>
      <%= submit_tag("search", :id => "results-submit", :style => "font-family: 'source sans pro','helvetica neue'; background: purple; color: rgba(255,255,255,0.8); cursor: pointer; position: absolute; top: 0; right: 0; right: 0px; border: none; height: 28px; font-size: 14px; line-height: 28px; width: 64px;") %>
    <% end %>

    <div class="feeds-wrap-inner">
    <% @results.each do |result| %>
    <a class="feed" data-url-rss="<%= result['feedUrl'] %>" data-url-itunes="<%= result['trackViewUrl'] %>">
      <img class="thumbnail" src="<%= result['artworkUrl100'] %>" />
      <div class="text">
        <h3><%= result['collectionName'] %></h3>
      </div>
    </a>
    <% end %>
  </div> <!-- end: .feeds-wrap-inner -->

  </div>


    <%# This is the hidden form that accepts an RSS feed, and displays that feed's info + entries on the page %>
    <%= form_tag('/show', method: :get, :remote => true, :id => 'feed_select', :style => 'visibility: hidden;position: fixed;') do %>  
      <%= text_field_tag :url_rss, params[:url_rss] %>
      <%= hidden_field_tag :url_itunes, params[:url_itunes] %>
      <%= submit_tag("Search", :id => "submit") %>
    <% end %>

  <div class="podcast_wrap_outer">
    <div class="spinner">parsing feed...</div>
    <div id="podcast_wrap_inner"></div>
  </div>

</div>